@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
  @apply md:mx-0 -mx-5;
  font-family: "Jetbrains Mono", monospace !important;
  background-color: #272822 !important;
  border-radius: unset !important;
}

@media (min-width: 768px) {
  pre {
    border-radius: 0.375rem !important;
  }
}

pre > code {
  counter-reset: line;
  display: grid;
}

pre > code > .line::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  counter-increment: line;
  content: counter(line);
  color: gray;
  margin-right: 1rem;
}

pre > code > .line {
  padding-right: 1rem;
}

pre > code > .highlight {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: calc(1rem - 5px);
  border-left-width: 5px;
  background: rgba(200, 200, 255, 0.1);
  border-color: #60a5fa;
}

/* styling for title bar  */

div[data-rehype-pretty-code-title] {
  @apply md:mx-0 -mx-5 md:rounded-t  px-4 py-3 font-mono text-sm font-bold text-gray-200;
  background-color: #30322a;
}

div[data-rehype-pretty-code-title] + div > pre {
  margin-top: 0px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* styling for <code>  */
:not(pre) > code::before{
  content: none !important;
}

:not(pre) > code::after{
  content: none !important;
}


/* styling <code> without data-languange */
:not(pre) > code:not([data-language]){
  @apply px-1 py-0.5 rounded text-sm font-semibold;
  color: #ec4899 !important;
  background-color: #f5f5f5;

}

/* styling for <code> with data-languange  */

:not(pre) > code[data-language] {
  @apply px-1 py-0.5 rounded text-sm;
  font-family: "Jetbrains Mono", monospace;
  background-color: #272822;
}
